* {
    margin: 0;
    padding: 0;
  }
  
  a {
    font-family: sans-serif;
    text-decoration: none;
  }


  
  @media screen and (max-width: 768px) {
    .about-me-container {
      flex-direction: column;
      align-items: center;
    }
    
    .text-column {
      padding: 20px;
    }
  }
  


/*MENU HAMBURGER ONDE TEM AS LISTAS, INICIO, SOBRE, CONTACTO, LOGIN*/
  
  .header {
    background: #ddc701;    
    backdrop-filter: blur(20px);
    padding-inline: 16px;
  }

  .nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 48px;
  }

  .nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
  }
  
  .nav-list a {
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
  }

  .hamburger {
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
    z-index: 1;
  }

  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ddc701;
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
  
    pointer-events: none;
    }
  
    .nav-list a {
      font-size: 24px;
      opacity: 0;
    }
  
    .nav-list li:nth-child(1) a {
      transition: 0.5s 0.2s;
    }
  
    .nav-list li:nth-child(2) a {
      transition: 0.5s 0.4s;
    }
  
    .nav-list li:nth-child(3) a {
      transition: 0.5s 0.6s;
    }

    .nav-list li:nth-child(4) a {
      transition: 0.5s 0.6s;
    }
  
    .nav.active .nav-list {
      clip-path: circle(1500px at 90% -15%);
      pointer-events: all;
    }
  
    .nav.active .nav-list a {
      opacity: 1;
    }
  
    .nav.active .hamburger {
      position: fixed;
      top: 26px;
      right: 16px;
      border-top-color: transparent;
    }
  
    .nav.active .hamburger::before {
      transform: rotate(135deg);
    }
  
    .nav.active .hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }

    /*CORPO DA PAGINA*/

    .conteudo {
        width: 10%;
        height: 10%;
      }

      .body {
        overflow-y: scroll;
        overflow-x: hidden;
        }

    /*COLUNAS PAGINA SOBRE*/

    .container {
        display: flex;
        width: 80%;
        max-width: 1800px;
        border: transparent;
        padding: 20px;
        box-shadow: transparent;
    }
    
    .coluna-esquerda {
      flex: 2;
        background-color: transparent;
    }
    
    .coluna-meio {
      flex: 2;
        background-color: transparent;
    }

    .coluna-direita {
      flex: 1;
        background-color: transparent;
    }

    @media (max-width: 768px) {
        .container {
            flex-direction: column;
        }
    }

    .video-container {
        width: 20px;
    }

    /*INSTAGRAM FEED*/

    .instagram-feed {
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

      /*RODAPE*/

      .footer-content{
        display: flex;
        align-items: center;
        color: #000000;
        padding: 4rem 1rem;
        gap: 2rem;
        background-color: #413f3f;
      }
    
      .download-options>*{
        margin: 1rem 0rem;
      }
    
      .download-options>p:first-child {
        font-weight: bold;  
        color: #000000;
      }
    
      .download-options>div{
        display: flex;   
      }
    
      .download-options>div img{
        width: 180px;
       }
    
      .logo-footer{
        text-align: center;
      }
  
      .links-footer h3{
        color: #000000;
        margin-bottom: 0.8rem;
      }
    
      .links-footer ul{
        list-style: none;
  
      }
    
       .links-footer ul li{
        margin-bottom: 0.5rem;
        cursor: pointer;
      }
    
      .copyright{
        color: #000000;
        padding: 2rem 0;
        text-align: center;
      }
  
    /*MEDIA*/
  
      @media (max-width: 800px){
          .footer-content{
          display: inline;
          font-size: 0.8rem;
      }
  
      .footer-content>div{
          padding: 1rem;
      }
  
      .download-options>div{
          display: inline;
      }
  
      .download-options>div img{
          width: 120px;
      }
  
      .copyright{
          font-size: 0.8rem;
      }
          }