* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
     
  }

  a
  {
    text-decoration: none;
    color: #232323;
    
    transition: color 0.3s ease;
  }
  
  a:hover
  {
    color: tomato;
  }
  
  #menuToggle
  {
    display: block;
    position: absolute;
    top: 30px;
    right: 70px;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
  }
  
  /*
   * Just a quick hamburger
   */
  #menuToggle span
  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #cdcdcd;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: white;
  }
  
  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  /*
   * Ohyeah and the last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  #menu
  {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -100px;
    border-radius: 15px;
    background: #333;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li
  {
    padding: 10px 0;
    font-size: 22px;
    color: white;
  }

  #menu li:hover
  {
    color: #bebebe;
  }
  
  /*
   * And let's fade it in from the left
   */
  #menuToggle input:checked ~ ul
  {
    transform: none;
    opacity: 1;
  }
  
  @media screen and (max-width: 768px) {
    #menu {
      transform: none;
      opacity: 0;
  
      transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
  }


body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    /* Apply Roboto font to body text */
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', 'Roboto';
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Example background color */
    color: #fff; /* Example text color */
    padding: 10px 20px;
    z-index: 1; /* Ensure header appears above banner and content */
  }
  
  .banner {
    position: sticky;
    top: 0;
    width: 100%;
    height: 800px; /* Adjust height of the banner */
    background-color: #333; /* Example background color */
    z-index: -2; /* Ensure banner appears below header */
  }
  
  .content {
    padding: 20px;
    background-color: #fff; /* Example background color */
    z-index: 10; /* Ensure content appears below banner */
  }
  

.conteudo {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.about-me-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}

.video-column {
    flex: 1;
}

.text-column {
    flex: 2;
    padding: 0 20px;
}

.about-me-heading {
    font-size: 2.5em;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.about-me-text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.video-container {
    position: relative;
    overflow: hidden;
    padding-top: 150%;
    /* Vertical aspect ratio (height: width) */
}

.video-container video {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 100%;
}

/* contact */
.container-loc {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
  height: 70vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 40px;
  background-color: white;
}

.map {
  flex: 1;
  min-width: 400px;
  height: 100%;
}

.contact-info {
  flex: 1;
  min-width: 100px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333;
  color: white;
}

.contact-info h2 {
  margin-top: 0;
  font-weight: 700;
  color: white;
}

.contact-info p {
  margin: 15px 0;
  font-weight: 400;
}

.contact-info strong {
  font-weight: 500;
}
/* end contact */
.appointment-button {
    margin-top: 30px;
}

.appointment-button a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.appointment-button a:hover {
    background-color: #555;
}

.button-container {
    position: absolute;
    bottom: 20px; /* Adjust vertical position */
    text-align: center;
    width: 100%;
  }
  


.instagram-feed {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.instagram-feed .snapwidget-widget {
    max-width: 100%;
    /* Ensure the iframe doesn't exceed its container */
}


  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff; /* Change to your preferred text color */
  }
  
  .logo img {
    margin-right: 10px; /* Adjust spacing between logo and text */
  }
  
  .logo-text {
    font-size: 1.5rem; /* Adjust logo text size */
  }
  
  .hamburger {
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
    margin-right: 55px;
  }

  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-list li {
    margin-left: 20px; /* Adjust spacing between menu items */
  }
  
  .nav-list li:first-child {
    margin-left: 0;
  }

  .sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #333; /* Sidebar background color */
    padding-top: 20px;
    transition: right 0.3s ease;
  }
  
  .sidebar-list {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-list li {
    margin-bottom: 15px;
  }
  
  .sidebar-list li a {
    display: block;
    color: #fff; /* Sidebar text color */
    text-decoration: none;
    padding: 10px 20px;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay background color */
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  body.sidebar-open .overlay {
    display: block; /* Show overlay when sidebar is open */
  }

  .black-background {
    background-color: #333; /* Footer background color */
    color: #fff; /* Footer text color */
    padding: 50px 0; /* Adjust footer padding */
  }
  
  .page-inner-content {
    max-width: 1200px; /* Set maximum width for content */
    margin: 0 auto; /* Center content horizontally */
    padding: 0 20px; /* Add padding to content */
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .logo-footer {
    flex: 1;
  }
  
  .logo-footer .logo {
    font-size: 1.5em; /* Adjust logo font size */
    margin-bottom: 20px; /* Adjust spacing */
  }
  
  .links-footer {
    flex: 1;
  }
  
  .links-footer h3 {
    font-size: 1.2em; /* Adjust heading font size */
    margin-bottom: 15px; /* Adjust spacing */
  }
  
  .links-footer ul {
    padding: 0;
    list-style: none;
  }
  
  .links-footer ul li {
    margin-bottom: 10px; /* Adjust spacing between links */
  }
  
  .links-footer ul li a {
    color: #fff; /* Link color */
    text-decoration: none;
  }
  
  .links-footer ul li a:hover {
    text-decoration: underline; /* Add underline on hover */
  }
  
  hr.page-inner-content {
    border-color: #666; /* Horizontal line color */
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .copyright p {
    text-align: center; /* Center copyright text */
  }
  
  .anchor {
    display: block;
    position: relative;
    top: -80px; /* Adjust anchor position */
    visibility: hidden;
  }


  .reg-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #ece9e6, #ffffff);
  }

  #Schedule
  {
    margin-left: 100px;
    margin-right: 100px;
  }

  .register-container {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.register-form label {
    font-weight: 500;
    color: #555;
    display: block;
    margin-bottom: 8px;
    margin-top: 15px;
}

.register-form input[type="text"],
.register-form input[type="password"],
.register-form input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.register-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
}

.register-form input[type="submit"]:hover {
    background-color: #218838;
}

.register-form p {
    text-align: center;
    margin-top: 20px;
    color: #555;
}

.register-form p a {
    color: #007bff;
    text-decoration: none;
}

.register-form p a:hover {
    text-decoration: underline;
}

.error {
  color: red;
  background-color: #fdd;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.success {
  color: green;
  background-color: #dfd;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.nav-username {
  margin-right: 120px;
}

.nav-username a {
  display: flex;
  flex-direction: row-reverse;
  color: #fff;
  font-size: 1.2em;
  align-items: center;
}

.nav-username a:hover {
  color: #ccc;
}




.appointment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px; /* Adjust height as needed */
  background-color: #fff; /* Light background color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}


.agendamento-button:hover {
  background-color: #2c92ff; /* Darker green on hover */
}

.agendamento-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Example button color */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.profile-container {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  margin: 20px;
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  font-weight: 600;
}

.profile-info p {
  font-size: 18px;
  color: #555;
  margin: 10px 0;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.change-password-form label {
  font-weight: 600;
  color: #555;
  display: block;
  margin-bottom: 8px;
  margin-top: 15px;
}

.change-password-form input {
  width: calc(100% - 20px);
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.change-password-form input:focus {
  border-color: #007BFF;
  outline: none;
}

.change-password-form select {
  width: calc(100% - 20px);
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.change-password-form select:focus {
  border-color: #007BFF;
  outline: none;
}

.change-password-form input[type="password"] {
  width: calc(100% - 20px);
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.change-password-form input[type="password"]:focus {
  border-color: #007BFF;
  outline: none;
}

.change-password-form input[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.change-password-form input[type="submit"]:hover {
  background-color: #0056b3;
}

.reg-cont2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #ece9e6, #ffffff);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 20px;
}

.control-panel-container {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100vw;
  width: 100%;
  margin: 20px;
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  font-weight: 600;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.user-table th, .user-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.user-table th {
  background-color: #f2f2f2;
  font-weight: 600;
}

.user-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.user-table tr:hover {
  background-color: #f1f1f1;
}

.user-table a {
  color: #007BFF;
  text-decoration: none;
  margin-right: 10px;
}

.user-table a:hover {
  text-decoration: underline;
}

.actionssvg {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.actionssvg a {
  cursor: pointer;
  width: 30px;
  height: 40px;
  fill: #007BFF;
}

.search-form {
  margin-bottom: 20px;
  text-align: center;
}

.search-form input[type="text"] {
  padding: 10px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.search-form input[type="text"]:focus {
  border-color: #007BFF;
  outline: none;
}

.search-form input[type="submit"] {
  padding: 10px 20px;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.search-form input[type="submit"]:hover {
  background-color: #0056b3;
}